<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="ConnStr" value="Data Source=.;Initial Catalog=test;User Id=xyw;Password=iamnts;"/>
       <!--<add key="ConnStr" value="Data Source=.\sql2012;Initial Catalog=Test;Integrated Security=True"/>-->
  </appSettings>
</configuration>